<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->

  <!-- Content‑Security‑Policy -->
  <meta http-equiv="Content-Security-Policy"
      content="
        default-src 'self';
        script-src
          'self'
          https://www.googletagmanager.com
          https://pagead2.googlesyndication.com
          https://fundingchoicesmessages.google.com
          https://ep1.adtrafficquality.google
          https://ep2.adtrafficquality.google
          'sha256-2hhfvpGg/vP7kTYDS7XGua28XNgpVp20L8IkYrVpE5Y=';
        frame-src
          'self'
          https://googleads.g.doubleclick.net
          https://fundingchoicesmessages.google.com
          https://ep2.adtrafficquality.google
          https://www.google.com
          https://pagead2.googlesyndication.com;
        fenced-frame-src
          'self'
          about:
          https://googleads.g.doubleclick.net
          https://fundingchoicesmessages.google.com
          https://ep2.adtrafficquality.google
          https://www.google.com
          https://pagead2.googlesyndication.com;
        connect-src
          'self'
          https://www.googletagmanager.com
          https://pagead2.googlesyndication.com
          https://ep1.adtrafficquality.google
          https://ep2.adtrafficquality.google
          https://www.google-analytics.com
          https://fundingchoicesmessages.google.com;
        style-src
          'self'
          'unsafe-inline'
          https://fonts.googleapis.com;
        font-src
          'self'
          https://fonts.gstatic.com;
        img-src
          'self'
          https://pagead2.googlesyndication.com
          https://ep1.adtrafficquality.google
          https://www.google-analytics.com
          data:;
      ">

  <!-- Google AdSense verification -->
  <meta name="google-adsense-account" content="ca-pub-6858130394830057">

  <!-- Google Tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7BZ62SG9QF"></script>
  <script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-7BZ62SG9QF');</script>

  <!-- Google AdSense -->
  <script async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6858130394830057"
          crossorigin="anonymous"></script>
</head>
