<!-- Google AdSense verification -->
<meta name="google-adsense-account" content="ca-pub-6858130394830057">

<!-- Google Tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7BZ62SG9QF"></script>
<script>window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7BZ62SG9QF');</script>

<!-- Google AdSense -->
<script async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6858130394830057"
    crossorigin="anonymous"></script>